<div class="row" style="padding-top:0%;">
<div class="col"></div>
<div class="col-md-8 text-center">
<%= image_tag 'banner.png', style: "width:100%" %>
<div class="jumbotron">
  <h1><%= t('main_page.welcome_to') %></h1>
  <p><%= link_to t('main_page.read_blog'), articles_path, class: 'btn btn-lg btn-welcome' %></p>
</div>
</div>
<div class="col"></div>
</div>
