/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
@import "bootstrap";
@import "welcome";
@import "navigation";
@import "footer";

/* Show it is fixed to the top */

body {
  min-height: 50rem;
  padding-top: 4.5rem;
  overflow-x: hidden;
}

.white {
  color: #ffffff;
}

.grey {
  color: #ddcccc;
}

.small-font {
  font-size: 11px;
}

.container {
  padding-top: 15px;
}

.linktxt {

}

.linktxt:hover {
  color: #ffffff;
}

thead {
  background-color: #ddddd;
}

.form-contol {
  background-color: #efeeef;
  border: 3px solid #003300;
}

.form-contol2 select{
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  padding-left: 0.3rem;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  background-color: #efeeef;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.sm_style {
  font-size: 12px;
  margin-bottom: 3px;
}

.btn-light {
  border: 3px solid black;
  border-radius: 7px;
}

.jumbotron {
  border-color: #ffffff;
}

.show_notice {
  margin: auto;
  width: 300px;
  color: #009900;
  font-size: 18px;
  padding: 15px;
  background-color: #ccddcc;
  text-align: center;
}

.show_alert{
  margin: auto;
  width: 300px;
  color: #ff0000;
  font-size: 18px;
  padding: 15px;
  background-color: #ddcccc;
  text-align: center;
}

@media (max-width: 576px) {
  .show_notice {
    width: 90%;
  }
  .show_alert {
    width: 90%;
  }
}
