// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-welcome {
  background-color: #000000;
  color: #efeeef;
}

.btn-welcome:hover {
  background-color: green;
  color: #ffffff;
}

h1 {
  margin-bottom: 20px;
}
