<h1> <%= t('category_page.edit_category') %> </h1>

<%= render 'form', category: @category %>

<%= link_to t('articles_page.show'), @category %> |
<%= link_to t('articles_page.back'), categories_path %>
